body {
    font-family: Arial, sans-serif;
    line-height: 2;
    margin:0;
    padding: 0;
}

header {
    background: #371704;
    color: #fff;
    padding: 12px 0;
    text-align: center ;
}

header nav ul {
    list-style: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin: 0 15px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
}

.hero {
    background: #361704;
    color: white;
    padding: 60px 20px;
    text-align: center;
}

.cta-button {
    background: #fff;
    color: #4CAF50;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

section {
    padding: 20px;
    margin: 10px 0;
}

footer {
    background: #381b04;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin: 10px 0 5px;
}

form input,
form textarea {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #080808;
}

.contact-info {
    margin-top: 20px;
}
